@mixin clearfix{
    &::after{
        content: "";
        display: table;
        clear: both;
    }
}
@mixin respond($breakpoint) {
    @if $breakpoint == tab-land {
        @media only screen and (max-width: 75em) {//max-width = 1200px(1200/16);
            @content
        };
    }
    @if $breakpoint == tab-port {
        @media only screen and (max-width: 56.25em) {//max-width = 900px(900/16);
            @content
        };
    }
    @if $breakpoint == phone {
        @media only screen and (max-width: 37.5em) {//max-width = 600px(600/16);
            @content
        };
    }
    @if $breakpoint == big-desktop {
        @media only screen and (min-width: 112.5em) {// min-width=1800px(1800/16);
            @content
        };
    }
}