.form {
    &__group:not(:last-child) {
    margin-bottom: 2rem;
    }
    &__input {
        font-size: 1.5rem;
        padding: 1rem 1.5rem;
        border-radius: 3px;
        color: inherit;
        font-family: inherit;
        background-color: rgba($color-white, .8);
        border: none;
        width: 90%;
        display: block;
        border-bottom: 3px solid transparent;
        &:focus {
            outline: none;
            border-bottom: 3px solid rgba($color-primary, 1);
            box-shadow: 0 1rem 2rem rgba($color-black, .2);
        }
        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
        &:focus:invalid {
            border-bottom: 3px solid $color-secondary-dark;
        }
    }
&__label {
font-size: 1.5rem;
display: block;
font-weight: 700;
margin-left: 1.5rem;
margin-top: .5rem;
transition: all .3s;
    }
&__input:placeholder-shown + &__label {
opacity: 0;
visibility: hidden;
transform: translateY(-4rem);
}
    
}
