/*
COLORS:

Light green: #7ed56f
Medium green: #55c57a
Dark green: #28b485

*/

*, ::after, ::before {
    margin: 0px;
    padding: 0px;
    box-sizing: inherit;
}
html {
    font-size: 65%
}

body {
    font-size: 1.6rem;
    padding: 1.5rem;
    font-family: 'Lato' sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;        
    box-sizing: border-box;
}
.header {
    height: 90vh;
    background-image: linear-gradient(to right bottom, rgba(162, 213, 103, 0.801), hsla(160, 64%, 43%, 0.801)),
        url('../img/hero.jpg');
    background-size: cover;
    background-position: top;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
    position: relative;
}
.header__logo-box {
    position: absolute;
    top: 2rem;
    left: 2rem;
}
.header__logo {
    height: 4rem;
}
.header__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%,-50%);
    text-align: center;
}
.heading-primary {
    color: #fff;
    text-transform: uppercase;
    backface-visibility: hidden;
    margin-bottom: 2rem;  
}
.heading-primary--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;
    animation: moveInLeft 1s ease-out
}

.heading-primary--sub {
    display: block;
    font-size: 2rem;
    font-weight: 400;
    letter-spacing: 1.5rem;
    animation: moveInRight 1s ease-out
}
.btn {
text-decoration: none;
text-transform: uppercase;
padding: .5rem 2rem;
border-radius: 10rem;
display: inline-block;
position: relative;
}
.btn--white {
background-color: #fff;
}
.btn:link,
.btn:visited {
    transform: translateY(-1px);
    box-shadow: 0 10px 10px rgba(0,0,0,0.2);
    transition: all .2s;    
}
.btn:hover {
    transform: translateY(-3px);
    cursor: pointer;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
.btn::after {
    content: "";
    display: inline-block;
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    border-radius: 10rem;
    z-index: -1;
    transition: all .4s;
}
.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}
.btn--white::after {
    background-color: #fff; 
}
.btn--animated {
    animation: moveInBottom 1s ease-out 0.2s
}
@keyframes moveInLeft {
    0% {
        opacity: 0;
        transform: translateX(-10rem);
    }
    70% {
        opacity: 1;
        transform: translateX(1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes moveInRight {
    0% {
        opacity: 0;
        transform: translateX(10rem);
    }
    70% {
        opacity: 1;
        transform: translateX(-1rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}
@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(10rem);
    }   
    100% {
        opacity: 1;
        transform: translateX(0px);
    }
}